
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: black;
}
:root {
    --background-color: #202020;
    --font-color: #e8e2e2;
}
html {
    background-color: var(--background-color);
}
ul {
    text-decoration: none;
}
a {
    text-decoration: none;
}
#h6, #h2 {
  color: #e8e2e2;
}

.hero-btn {
  background-color: #ddd9d9;

}
.am-ruler__line {
  border-color: #FFF;
  border-width: 1px;
  width: 80%;
  margin: 0 10% 0 10%;
}
nav {
    background-color: var(--background-color);
  }
  .nav-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
  }
  .nav-toggle {
    font-size: 1.5rem;
    color:  #e8e2e2;
    background: transparent;
    border-color: transparent;
    transition: var(--transition);
    cursor: pointer;
  }
  .nav-toggle:hover {
    color:  #e8e2e2;
    transform: rotate(90deg);
  }
  .logo {
    height: 40px;
  }
  .links a {
    color:  #e8e2e2;
    font-size: 2rem;
    text-transform: capitalize;
    letter-spacing: 3px;
    display: block;
    padding: 0.5rem 1rem;
    transition: var(--transition);
  }
  .links a:hover {
    background: rgb(132, 49, 49);
    color: rgb(132, 49, 49);
    padding-left: 1.5rem;
  }
  #join-link {
    background-color:rgb(132, 49, 49);
    border-radius: 20px;
  }
  #join-link:hover{
    background-color:#e8e2e2 ;
    color: rgb(132, 49, 49);

  }

  .links {
    height: 0;
    overflow: hidden;
    transition: var(--transition);
  }
  .show-links {
    height: 10rem;
  }
  @media screen and (min-width: 800px) {
    .nav-center {
      max-width: 1170px;
      margin: 0 auto;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 1rem;
    }
    .nav-header {
      padding: 0;
    }
    .nav-toggle {
      display: none;
    }
    .links {
      height: auto;
      display: flex;
    }
    .links a {
      padding: 0;
      margin: 0 0.5rem;
    }
    .links a:hover {
      padding: 0;
      background: transparent;
    }
   
  }

  /* ------------------------------------------------- hero section */
  main {
    background-color: black;
    
  }
.container {
    background-color: black;
    height: 100vh;
    width: 100vh;
    display: flex;
    justify-content: left;
    padding-top: 10%;
    
}
.img-container {
  width: auto;
  height: 30%;
}
.img-container img {
    width: 110%;
}
.main-div {
  height: 244px;
  width: 250vb;
}
.hero-text h1 {
  color: #ddd9d9;
  padding: 8% 0 4% 0 ;
  font-size: 6rem;
}
.hero-text h4 {
  color: #ddd9d9;
  font-size: 2.5rem;
  padding: 2px 0 10px 0 ;
}

/* ------------------------features section */
.feature-section{
height: 35vh;
}
.feature {
  display: grid;
  justify-content: center;
  height:50%;
}
.feature-container {
  height: 20vh;
  display:grid ;
  justify-content: center;
}
.feature-container h2 {
  color: #ddd9d9 ;
  font-size: 3.6rem;
  display:grid ;
  justify-content: center;
}
.feature-container p {
  color: #ddd9d9 ;
  font-size: 2rem;
  display:grid ;
  justify-content: center;
}
.features-btns {
  display: flex;
  flex-direction: inherit;
  gap: 20px;
}
.text-containers{
  background-color: #ddd9d9;
  width: 50%;
  display: flex;
  justify-content: center;
  margin-left: 28%;
}
.card p {
  background-color: #ddd9d9;
  z-index: 222;
  backdrop-filter: blur(200px);
  transform:translate(-40px, 70px) ;
  height: 20vh;
  color: black;
  padding: 5%;
  border-radius: 6px;
  font-size: 2rem;
}
/* -------------------------Reaward section */
.reward-section {
  height: 80vh;
}
.reward-container {
  display: flex;
  justify-content: flex-start;
}
.reward-img img {
  width: 90%;
}
.reward-info-container {
  width: 80%;
  display: grid;
  padding: 5%;

}
.reward-info-container h2, h6 {
  color: #e8e2e2;
  font-size: 3.5rem;
}
.reward-info-container h6{
  color: #e8e2e2;
  font-size: 2.5rem;
}
.reward-info-container i {
  color: #e8e2e2;
  font-size: 2rem;
}
/* -------------------------------------loan phone section */
.loan-section {
  height: 25vh;
  display: flex;
  justify-content: center;
}
.loan-phone {
  width: 50%;
  display: inline;
  justify-content: center;
}
.loan-phone h5 {
  color: #e8e2e2;
  font-size: 2rem;
  font-weight: 100;
}
.loan-phone h6 {
  padding-left: 30%;
  padding-top: 2%;
  color: #e8e2e2;
  font-size: 2rem;
  font-weight: 100;
}
/* -------------------------------------credict-section section */
.credict-section {
  height: 20vh;
  margin: 0 10% 0 10%;
}
.credit-div {
  display: initial;
  justify-content: center;
  width: 80%;
  text-align: center;
}
.credit-div h2 {
  font-size: 3.5rem;
  padding-bottom: 20px;
  padding-top: 20px;
}
.credit-div h6 {
  font-size: 2rem;
  padding-bottom: 20px;
}
.spans-div {
  display: flex;
  justify-content: space-evenly;
  font-size: 2.5rem;
  color: rgb(132, 49, 49);
  
}
/* -----------------------------Card section */
.card-container {
  padding: 2%;
}
.card-div {
  display: flex;
  justify-content: space-evenly;
}
.card {
  width: 24%;
  height: 50vh;
  background-color: #ddd9d9;
}
.card h3 {
  background-color: #ddd9d9;
  font-size: 3rem;
  padding: 2%;
}
.card h6 {
  background-color: #ddd9d9;
  font-size: 2rem;
  padding: 2%;
}
.card img {
  position: relative;
  width: 100%;
}
.card-btn {
  background-color: #ddd9d9;
  font-size: 3rem;
  color: rgb(132, 49, 49);
}

